/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
* .
* https://www.apache.org/licenses/LICENSE-2.0
* .
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/

blockquote p {
    font-size: 14px;
}

.span-one-third {
    width: 300px;
}
.span-two-thirds {
    width: 620px;
}
.offset-one-third {
    margin-left: 340px;
}
.offset-two-thirds {
    margin-left: 660px;
}

h3, h4 {
    padding-top: 45px;
    margin-top: -45px;
}

.navbar-nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    display: inline-block;
    left: 15px;
    position: absolute;
    top: -6px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    color: #4386BA;
}

.navbar {
    min-height: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-header .navbar-brand {
    padding: 0 10px;
    line-height: 40px;
    font-size: 15px;
}

.navbar-default .navbar-collapse .navbar-search {
    padding: 9px 9px;
}


.navbar-default .navbar-header .navbar-brand {
    height: 40px;
}

.navbar-default .navbar-header .navbar-brand img {
    display: unset;
}
